<!-- Portfolio Grid Section -->
    <section id="Methods" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center><h2 class="section-heading">Methods</h2></center>
                    <p>Our approach follows an encoder-decoder methodology similar to prior work 
                        on out-of-distribution robustness and group fairness to establish independence between the sensitive feature (S) 
                        and the fair label (Y_f). Given a dataset with sensitive feature (S), observed label (Y), and non-confounding 
                        features (X), we treat Y as a proxy variable to derive the fair label Y_f.

                        <br>The model consists of three main components:
                        <ol>
                            <li>Encoder: Generates an intermediate label (pseudo_Y) from X, which will later be de-biased from S.</li>
                            <li>Adversarial Branch: Uses an adversary and a Gradient Reversal Layer (GRL) to remove unfair dependencies of S from pseudo_Y, 
                                                ensuring independence between them.</li>
                            <li>Decoder: Predicts Y using both pseudo_Y and S, ensuring that only fair dependencies on S are retained for accurate and unbiased predictions.</li>
                        </ol>
                        
                        <br>The model optimizes three loss functions:
                        <ol>
                            <li>Classification loss ensures pseudo_Y aligns with Y.</li>
                            <li>Adversarial loss forces pseudo_Y to be independent of S by minimizing adversary accuracy.</li>
                            <li>Decoder loss ensures Y_pred remains an accurate and fair prediction of Y.</li>
                        </ol>
                        
                        <br><p>Overall, this adversarial learning approach guarantees fair and accurate predictions by systematically removing biased dependencies while 
                                                retaining necessary information.</p>
                        
                        <br><p>In the first graph below, X is the covariate, Y is the label, Z is the confounder, S is the proxy, taken from the paper, ([“Scalable Out-of-distribution Robustness in the Presence of Unobserved Con-founders.”] (https://arxiv.org/abs/2411.19923)) 
                                                The second graph is the adjusted node graph to represent our model which includes the sensitive feature. 
                                                In this graph, X is the covariate, S is the sensitive feature, pseudo Y is the independent Y label of S, Y final 
                                                is the final fair label predicted from S and pseudo Y. In both graphs, the shaded circles represent unobserved 
                                                variables and the unshaded ones represent observed variables.</p><br>
                    <img src="img/node_graphs.jpg" class="img-responsive img-centered" alt="">
                    <br><center><h2 class="section-heading">Datasets Implemented</h2></center>
                        <p>We implemented three datasets, UCI Adult, German Credit and COMPAS dataset.</p>
                        
                        <br><p>The UCI Adult dataset is derived from the U.S. Census Bureau, it predicts whether an individual earns more than 
                        $50,000 annually based on factors like age, education, occupation, and work hours. Due to its reflection of real-world
                        income inequalities, it is widely used in fairness and bias research as a benchmark for classification models.</p>
                        
                        <br><p>The German Credit dataset is provided by the UCI Machine Learning Repository, it assesses credit risk by categorizing 
                        applicants as “good” or “bad” credit risks. It includes features like work status, financial history, home situation, 
                        and personal demographics (age, sex, etc.). The dataset is crucial in evaluating bias in financial decision-making and 
                        credit scoring models.</p>
                        
                        <br><p>The COMPAS dataset is collected by ProPublica, it predicts recidivism risk (reoffending probability) using features 
                        such as age, sex, race, past crimes, and COMPAS risk scores. Research has shown racial disparities in risk assessment, 
                        making it central to discussions on algorithmic fairness and bias in the criminal justice system.</p>
                    </p>
                </div>
            </div>
        </div>
    </section>
