<!-- Portfolio Grid Section -->
    <section id="methods" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center><h2 class="section-heading">Methods</h2></center>
                    <p>Our approach uses a similar encoder-decoder methodology as used in the Scalable Out-of-distribution Robustness in the Presence of Unobserved Confounders [1]
                    while establishing independence between the sensitive feature and fair observed label as mentioned in the Group Fairness by 
                    Probabilistic Modeling with Latent Fair Decisions paper [2]. Given a dataset that has an identifiable sensitive feature 
                    <b>S</b>, an observed biased label <b>Y</b>, and non-confounding features <b>X</b>, we treat <b>Y</b> as the proxy variable that will be used in the model to recover 
                    the true fair label <b>Y_f</b>.</p>

                    <br>The model consists of <b>three main components</b>:
                    <ol>
                        <li><b>Encoder:</b> Forward pass of retrieving pseudo_Y, given X. pseud_Y will be the intermediate label that will be used to establish independence with S. 
                            It works to avoid direct dependence on S.</li>
                        <li><b>Adversarial Branch:</b> This branch tests whether pseudo_Y retains information about S by attempting to predict S from pseudo_Y. 
                            If successful, it indicates dependence. To counteract this, the encoder learns to remove S-related information using a Gradient Reversal Layer 
                            (GRL), which flips the gradient to prevent encoding S in pseudo_Y. While the adversary minimizes the loss between predicted and true S, the GRL 
                            forces the encoder to maximize this loss, reducing dependencies. This adversarial training occurs during backpropagation, with the encoder and 
                            adversary working against each other. If pseudo_Y becomes independent of S, the adversary ultimately fails, achieving the desired outcome.</li>
                        <li><b>Decoder:</b> PThe decoder will try to predict Y given S and pseudo_Y. While we are trying to establish independence between Y and S by
                             removing unfair dependencies of S on Y, some fair dependencies can still exist. For this reason, pseudo_Y and S are being used to predict 
                             Y so that the output includes accurate and fair results.</li>
                    </ol>
                    
                    
                    <br><p>There are two scenarios which we applied this model to. The first scenario is where both the sensitive feature and the observed label are binary, 
                        meaning the values in each column are either 1 or 0. The second scenario is where the sensitive feature is binary (1 or 0), while the observed label 
                        is multi-class (not limited to 1 or 0).</p>
                    
                    <br><p>The graph below is a representation the underlying causal graph of our model. We know that <b>Y_biased is of the same distribution of Y_fair</b>, 
                            however, with its probabilities affected by S (the senstive feature); <b></b>we are able to recover Y_fair by establishing independence between S and Y_biased</b>. </p><br>
                
                    <img src="img/causal_graph.png" class="img-responsive img-centered" >
                    <br>
                    <br><center><h2 class="section-heading">Datasets Implemented</h2></center>
                        <p>We implemented four datasets Synthetic dataset, UCI Adult, German Credit and COMPAS dataset.</p>

                        <br><p>The <b>Synthetic Dataset</b> is a fair dataset with injected error to evaluate effectiveness of model, with 5000 rows and 30 features. The 
                            sensitive feature and observed biased label have 2 classes</p>
                        
                        <br><p>The <b>UCI Adult dataset</b> is derived from the U.S. Census Bureau, it predicts whether an individual earns more than 
                        $50,000 annually based on factors like age, education, occupation, and work hours. Due to its reflection of real-world
                        income inequalities, it is widely used in fairness and bias research as a benchmark for classification models.</p>
                        
                        <br><p>The <b>German Credit dataset</b> is provided by the UCI Machine Learning Repository, it assesses credit risk by categorizing 
                        applicants as “good” or “bad” credit risks. It includes features like work status, financial history, home situation, 
                        and personal demographics (age, sex, etc.). The dataset is crucial in evaluating bias in financial decision-making and 
                        credit scoring models.</p>
                        
                        <br><p>The <b>COMPAS dataset</b> is collected by ProPublica, it predicts recidivism risk (reoffending probability) using features 
                        such as age, sex, race, past crimes, and COMPAS risk scores. Research has shown racial disparities in risk assessment, 
                        making it central to discussions on algorithmic fairness and bias in the criminal justice system.</p>
                    </p>
                </div>
            </div>
        </div>
    </section>
