<section id="Refrences">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Refrences</h2>
                    <p>Choi, YooJung, Meihua Dang, and Guy Van den Broeck. 2020. 
                            “Group Fairness by Probabilistic Modeling with Latent Fair Decisions.” 
                            <br>Prashant, Parjanya, Seyedeh Baharan Khatami, Bruno Ribeiro, and Babak Salimi.2024. 
                            “Scalable Out-of-distribution Robustness in the Presence of Unobserved Con-founders.” </p>
                </div>
            </div>
        </div>
    </section>
