<section id="refrences">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Refrences</h2>
                    <p>[1] Choi, Y., Dang, M., & Van den Broeck, G. (2021). Group Fairness by Probabilistic Modeling with Latent Fair Decisions. 
                            Proceedings of the AAAI Conference on Artificial Intelligence, 35(13), 12051-12059. 
                            <a href="https://doi.org/10.1609/aaai.v35i13.17431">Paper Link</a>
                            <br>
                            [2] Khadija, Obey. 2022. “Drug Consumptions UCI Dataset.” 
                            <a href="https://www.kaggle.com/datasets/obeykhadija/drug-consumptions-uci">Dataset Link</a>
                            <br>
                            [3] Prashant, Parjanya Prajakta, Seyedeh Baharan Khatami, Bruno
                                Ribeiro, and Babak Salimi. 2025. “Scalable Out-of-Distribution
                                Robustness in the Presence of Unobserved Confounders.” Proceedings of
                                the 28th International Conference on Artificial Intelligence and Statistics
                                (AISTATS). 
                                <a href="https://openreview.net/forum?id=eIyOtZ9tgl">Paper Link</a>
                            <br>[4] ProPublica. 2016. “COMPAS Recidivism Analysis.” 
                            <a href="https://github.com/propublica/compas-analysis">Data Link</a>
                            <br>[5] UCI Machine Learning Repository. 1996. “Adult Data Set.”
                            <a href="https://archive.ics.uci.edu/dataset/2/adult">Data Link</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
